body
{
background-color: rgba(27, 27, 27, 1);
font-family: 'Heebo', sans-serif;
}
#headings
{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: black;
    text-shadow: -1.5px -1.5px 1.2px #f6d5b6, 1.5px -1.5px 1.2px #f6d5b6, -1.5px 1.5px 1.2px #f6d5b6, 1.5px 1.5px 1.2px #f6d5b6;
    //padding-left: 50px;
    //padding-right: 50px;
}
.bods
{
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding-top: 12%;
}
.left
{
  //float:left;
  color: #f6d5b6;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
  //max-width: 500px;
}
.right
{
  //float:right;
  color: #f6d5b6;
  display: inline-block;
  text-align: left;
  max-width: 500px;
img
{
  box-shadow: 20px 20px #b02800;
}
#dlbut
